/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.logo-link {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

.logo-link img {
  height: 80px;
  border-radius: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-bar {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #333;
}

.search-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.link-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.link-button:hover {
  background-color: #666;
}

.quote-box {
  margin-top: 50px;
  text-align: center;
}

.quote {
  font-style: italic;
  font-size: 24px;
  margin-bottom: 10px;
}

.quote-author {
  font-weight: bold;
  font-size: 18px;
}

.dark {
  background-color: #333;
  color: #fff;
}

.dark .logo-link img {
  border: 2px solid #fff;
}

.dark .search-bar {
  border: 2px solid #fff;
}

.dark .link-button {
  background-color: #fff;
  color: #333;
}

.dark .link-button:hover {
  background-color: #f2f2f2;
}
  
.dark .footer {
  color: #fff;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 2px solid #333;
  font-size: 12px;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
