/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Staatliches', sans-serif; /* Use Staatliches font */
  font-weight: normal;
  line-height: 1.5;
  background: linear-gradient(to bottom, #000000, #333333) no-repeat;
  background-size: cover;
  color: #fff; /* Set text color to white */
  overflow: auto; /* Enable scrolling for the entire site */
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.logo-link img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.search-bar {
  margin-top: 20px;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #000; /* Set text color to black */
}

button[type="submit"] {
  background-color: #fff; /* Set button background to white */
  color: #000; /* Set button text color to black */
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #000; /* Change button background to black on hover */
  color: #fff; /* Change button text color to white on hover */
  transform: scale(1.1); /* Scale up on hover */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.links a {
  flex: 0 0 48%;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff; /* Set link text color to white by default */
}

.links a:hover {
  background-color: #000; /* Change link background to black on hover */
  color: #fff; /* Change link text color to white on hover */
  transform: scale(1.1); /* Scale up on hover */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #fff; /* Set footer text color to white */
}

/* Tablet styles */
@media only screen and (max-width: 768px) {
  .logo-link img {
    max-width: 100%;
  }

  .search-bar {
    margin-top: 10px;
  }

  input[type="text"] {
    width: 100%;
  }

  .links a {
    flex: 0 0 100%;
  }
}
